{% extends 'base.html' %}

{% block content %}
    <h1>Сповіщення</h1>
    <a href="{% url 'mark-all-as-read' %}"><button class="button">Позначити всі як прочитані</button></a>
    {% for notification in notifications %}
        <div class="profile-forum-box">{{ notification.message }} - {{ notification.created_at }}
            {% if notification.is_read %}
                <span>(Прочитано)</span>
            {% else %}
                <span>(Не прочитано)</span>
                <a href="{% url 'mark-as-read' notification.id %}"><button class="button">Позначити як прочитано</button></a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}