{% extends "base.html" %}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Ім'я користувача" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button class="button" type="submit">Увійти</button>
        </form>
    </div>   
     
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}