{% extends "base.html" %}

{% block content %}
    <div class="profile-info profile-forum-box">
        <img src="{{ user.profile.avatar.url }}" alt="avatar" onerror="this.onerror=null; this.src='/static/img/default_avatar.png';" class="avatar">
        <div class="profile-name-bio">
            <div class="sort box">
                <a>{{ user.username }} -  </a>
                <a>{{ user.email }}</a>
            </div>
            <p class="box">{{ user.profile.bio}}</p>
        </div>
        <!-- <button><a href="{% url 'edit_portfolio' %}">edit</a></button> -->
    </div>
    <h2>Ваші пости:</h2>

    <div class="container-list">
    {% for post in my_posts %}
        <div class="profile-forum-box">
            <h3>{{ post.short_description }}</h3>
            <p>{{ post.content }}</p>
            <p>Дата: {{ post.created_at }}</p>
        </div>
    {% empty %}
        <p>У вас немає постів.</p>
    {% endfor %}
    </div> 
{% endblock %}