/* body {
    background-color: #121212;
    color: #e0e0e0;
}

header, footer {
    background-color: #1e1e1e;
    color: #cccccc;
}

.section_button {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.section_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.theme-switch {
    background-color: rgba(255, 255, 255, 0.1);
}

.theme-switch:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.theme-switch:active {
    background-color: rgba(255, 255, 255, 0.3);
} */
/* dark-theme.css */
/* dark-theme.css */
:root {
    --primary-color: #121212;
    --secondary-color: #00cc00;
    --background-color: #0a0a0a;
    --text-color: #e0e0e0;
    --shadow-color: rgba(0, 204, 0, 0.5);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.section_button {
    background-color: rgba(0, 204, 0, 0.1);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 10px 40px 10px 40px;
    margin: 5px;
}

.section_button:hover {
    background-color: rgba(0, 204, 0, 0.2);
    box-shadow: 0 0 15px var(--shadow-color);
}

.theme-switch {
    background-color: rgba(0, 204, 0, 0.1);
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

.theme-switch:hover {
    background-color: rgba(0, 204, 0, 0.2);
    box-shadow: 0 0 15px var(--shadow-color);
}

.theme-switch:active {
    background-color: rgba(0, 204, 0, 0.3);
    box-shadow: 0 0 20px var(--shadow-color);
}

nav {
    background-color: rgba(0, 204, 0, 0.1);
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

.profile-forum-box {
    background-color: rgba(0, 204, 0, 0.1);
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

.container-list {
    background-color: rgba(0, 204, 0, 0.1);
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

.avatar {
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

.button {
    background-color: rgba(0, 204, 0, 0.1);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
   
}

.button:hover {
    background-color: var(--secondary-color);
}

.button:active {
    background-color: var(--secondary-color);
    box-shadow: inset 0 0 20px var(--shadow-color);
}

