* {
    font: bold 20px "Bahnschrift Light";
    transition: background-color 0.3s, color 0.3s;
}

.big_title {
    font: bold 50px "Bahnschrift Light";
    margin: 10px 0px 0px 10px;
}

.small_title {
    font: 35px "Bahnschrift Light";
    margin: 8px 0px 0px 8px;
}

nav {
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    flex-wrap: wrap;
}

.section_button {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0px;
    padding: 10px 30px 10px 30px;
    margin: 5px;
    cursor: pointer;    
}

.section_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.section_button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.theme-switch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 5px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.theme-switch:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.theme-switch:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.theme-switch img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s, opacity 0.3s;
}

.theme-switch img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s;
}

.profile-forum-box {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
}

.avatar {
    max-width: 250px;
    min-width: auto;
    border-radius: 50%; 
}

header .title {
    margin: 10px 0px 10px 0px;
}

/* Стилі для основного контенту */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 5px 5px;
}

footer {
    margin-top: auto;
    padding: 10px;
    height: auto;
}

footer > * {
    padding: 0 20px 0 20px;
}

/* Стилі для контенту між header і footer */
.container {
    padding: 10px;
    flex: 1;
}

/* Стилі для елементів всередині контенту */
.container > * {
    margin-bottom: 30px;
}

/* Стилі для порожніх блоків */
.empty-message {
    margin: 10px 0 0 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.profile-info {
    display: flex;
    margin: 5px 0;
}
.profile-name-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.sort {
    display: flex;
    justify-content: space-evenly;
}
.box {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--shadow-color);
}


