{% extends "base.html" %}
{% block content %}

{% load static %}

<div class="container-list">
    <form class="profile-forum-box" style="width: 60%; height: auto; background-color: rgba(0, 0, 0, 0.07); display: inline-block; margin: 10px 0 0 10px;">
        <h1 class="big_title">Team über IT-Spezialisten</h1>
        <h1 class="small_title">Team über IT-Spezialisten - професійна команда ентузіастів, що займається розробкою програмного забезпечення на: Python, C++, JavaScript - а також веб-застосунків використовуючи передові технології Python, HTML, JavaScript та вишукані стилі CSS.
            <br>Для зв'язку: +38045839234853<br><br><br><br><br><br>Glory to Germany! <br>All rights served</h1>
    </form>
    <form style="display: inline-block;">
        <img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/fdY9kdFs/IT-S-2.png" width="400" height="400"/>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/1920px-Flag_of_Germany.svg.png" width="500" height="200"/>
    </form>
</div>

<div class="container-list">
    {% for novation in novations %}
    <form class="small_title profile-forum-box" style="display: inline-block; margin: 10px 1.5% 10px 1.5%; padding: 10px 1% 10px 1%; width: 28%; background-color: rgba(0, 0, 0, 0.2);">
        {{novation.title}}
        <h1>fgsgsg</h1>
    </form>
    {% endfor %}
</div>
{% endblock %}
