{% extends "base.html" %}

{% block content %}
    <div class="container-list">
        <div class="profile-forum-box" style="width: 50%; height: auto; background-color: rgba(0, 0, 0, 0.07); display: inline-block; margin: 10px;">
            <h1 class="big_title">Team über IT-Spezialisten</h1>
            <h1 class="small_title">Team über IT-Spezialisten - професійна команда ентузіастів, що займається розробкою програмного забезпечення на: Python, C++, JavaScript - а також веб-застосунків використовуючи передові технології Python, HTML, JavaScript та вишукані стилі CSS.</h1>
            <br>
            <h1>Для зв'язку: +38045839234853</h1>
            <br><br><br><br>
            <h1>Glory to Germany!</h1>
            <br>
            <h1>All rights reserved</h1>
        </div>
        <div style="display: inline-block;">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/fdY9kdFs/IT-S-2.png" width="400" height="400"/>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/1920px-Flag_of_Germany.svg.png" width="500" height="200"/>
        </div>
    </div>

    <div class="container-list">
        {% for novation in novations %}
            <div class="small_title profile-forum-box" style="display: inline-block; margin: 10px 1.5% 10px 1.5%; padding: 10px 1% 10px 1%; width: 28%; background-color: rgba(0, 0, 0, 0.07);">
                {{ novation.title }}
                <h1>{{ novation.content }}</h1>
            </div>
        {% endfor %}
    </div>
{% endblock %}
