{% extends 'base.html' %}
{% block content %}
{% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div>
        <h1>Форум</h1>
        <a href="{% url 'create-post' %}"><button>Створити пост</button></a>
        <div class="forum-posts">
            {% for post in posts %}
                <div class="forum-post">
                    <h3>{{ post.short_description }} створений <strong>{{ post.author }}</strong> {{ post.created_at }}</h3>

                    <a href="{% url 'post-detail' post.pk %}"><button>Деталі</button></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}